{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Pictogram</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="icon">
        <img src="/static/img/logo-3.png" alt="Pictogram logo"width="170" height="55" style='border-radius: 15px'>
      </a>
      <form action="/search/profile/" method="get" class="row g-2">
        {% csrf_token %}
        <div class="col-auto">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="username">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'post' %}">
            <span class="material-icons">dashboard</span>Posts
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'add_post' %}">
            <span class="material-icons">add_circle</span>Add Posts
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'profile' user.id%}">
            <span class="material-icons">person</span>Profile
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'logout'%}">
            <span class="material-icons">logout</span>Logout
          </a>
        </li>
        {% else %}
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'home' %}">
            <span class="material-icons">home</span>Home
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'about' %}">
            <span class="material-icons">info</span>About
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main class="container m-auto">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="mt-auto">
    <div class="d-flex justify-content-end">All Rights Reserved, &copy; 2022 Pictogram &nbsp;</div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>