<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pictogram</title>
</head>
<body>
  <nav>
    <div>
      <ul>
        <li><a href="/" id="icon">Pictogram Icon</a></li>
      </ul>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Posts</a></li>
      </ul>
    </div>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Pictogram &nbsp;</div>
  </footer>
</body>
</html>