<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Add Post</button>
<div class="modale fade" id="modal">
    <div class="model-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Create New Post</h1>
            </div>
            <div class="modal-body">

            </div>
            <div class="model-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>