{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Pictogram</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="icon">
        <img src="/static/img/logo-3.png" alt="Pictogram logo"width="170" height="55" style='border-radius: 15px'>
      </a>
      <form action="{% url 'search' %}" method="get" class="row g-2">
        <div class="col-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="username">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'feed' %}">
            <span class="material-icons">dashboard</span>Feed
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'add_post' %}">
            <span class="material-icons">add_circle</span>Add Posts
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'explore' %}">
            <span class="material-icons"></span>Explore Images
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'profile' user.id%}">
            <span class="material-icons">person</span>Profile
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{% url 'logout'%}">
            <span class="material-icons">logout</span>Logout
          </a>
        </li>
        {% else %}
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'home' %}">
            <span class="material-icons">home</span>Home
          </a>
        </li>
        <li>
          <a class="navbar-brand navbar-link" href="{%url 'about' %}">
            <span class="material-icons">info</span>About
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main class="container">

<!-- Start -->
<div class="card">
    <h1 class="d-flex justify-content-center display-4">{{profile_user.username}}'s Profile</h1>
  {% if user != profile_user %}
    {% if is_following %}
      <a href="{% url 'follow' profile_user_id %}" class="btn btn-primary">Unfollow</a>
    {% else %}
      <a href="{% url 'follow' profile_user_id %}" class="btn btn-primary">Follow</a>
    {% endif %}
  {% else %}
  {% endif %}
    <div class="d-flex justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2>Posts</h2>
                </div>
                <div class="card-text">
                    {{ posts_count }}
                </div>
            </div>    
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2>Following</h2>
                </div>
                <div class="card-text">
                  {{ following }}
                </div>
            </div>    
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    <h2>Followers</h2>
                </div>
                <div class="card-text">
                    {{ followers }}
                </div>
            </div>    
        </div>
    </div>
</div>

<div class="d-flex flex-wrap">
    {% for post in posts%}
    <div class="card m-2" style="width: 300px;">
        <img class="card-img-top" src="{{post.photo}}">
            <div class="card-body">
                <div class="card-title">
                    <p>{{post.description}}</p>
                </div>
                <a href="{% url 'detail' post.id %}" class="stretched-link"></a>
            </div>
    </div>
    {% endfor %}
</div>

<!-- End -->

</main>
<footer class="mt-auto">
  <div class="d-flex justify-content-end">All Rights Reserved, &copy; 2022 Pictogram &nbsp;</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>