{% extends 'base.html' %}
{% block content %}
<br>
<p class="text-muted">  ᕙ(^▿^-ᕙ)Try searching for more pictos for more fun with us!!!</p>
    <form action="" method="get">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Put some keywords here..." aria-label="Search Images" aria-describedby="basic-addon2" name="explored">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
          </div>
    </form>
    <br>
    <div class="d-flex flex-wrap justify-content-center">
      {% for i in results %}
      <div class="card bg-light m-3" style="width: 300px;">
          <img class="card-img-top" src="{{ i.urls.small }}" alt="Card image cap">
          <div class="card-body">
            <p class="text-muted">{{ i.description }}</p>
            <a href="{{i.urls.small }}">
              <button href="{{i.urls.small }}" type="button" class="btn btn-outline-secondary" style="float: right;">Picto Details</button>
            </a>
          </div>
        </div>
      {% endfor %}
  </div>
    
 {% endblock %}
