h1 {
    /* testing */
    color: blue;
}

.navbar-link{
    display: flex;
    align-items: center;
}

.navbar-link .material-icons{
    margin-right: 4px;
  }

.carousel-container{
    display: flex;
    justify-content: start;
    width: 640px;
    height: 360px;
}

.login-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

