{% extends 'base.html' %}
{% block content %}

<form action="{% url 'add_post' %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <div class="input-group" id="photo-file">
        <input type="file" name="photo-file">
    </div>                
    <label class="form-label">Description of Post</label>
    <div class="input-group">
        {{ form.description }}
    </div>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Upload Photo">
</form>

{% endblock %}