{% extends 'base.html' %}
{% block content %}

<h1>Post Details</h1>


        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ post.user.username }}</span>
                <p>{{ post.post_timestamp }}</p>
                <p>Description: {{ post.description }}</p>
                {% if post.user.is_active == True %}
                    <p>Active</p>
                {% else %}
                    <p>Inactive</p>
                {% endif %}
            </div>
        </div>


<div class="card-action">
    <form action="" method="post">
        {% csrf_token %}
      <button type="submit" class="btn">Remove</button>
    </form>
  </div>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn" value="Add">
</form>

{% endblock %}