{% extends 'base.html' %}
{% block content %}

<h1>Post Details</h1>


        <div class="card">
            <div class="card-content">
                <img src="{{post.photo}}">
                <span class="card-title">{{ post.user.username }}</span>
                <span class="card-title"> <a href="{% url 'like' post.id %}">like</a> {{ post.likes }}</span>
                <p>{{ post.post_timestamp }}</p>
                <p>Description: {{ post.description }}</p>
                {% if post.user.is_active == True %}
                    <p>Active</p>
                {% else %}
                    <p>Inactive</p>
                {% endif %}
            </div>
        </div>


<div class="card-action">
    <a href="{% url 'update' post.id %}" class="btn">Edit</a>
    <form action="{% url 'delete' post.id %}" method="post">
        {% csrf_token %}
      <button type="submit" class="btn">Remove</button>
    </form>
  </div>


{% endblock %}