{% extends 'base.html' %}
{% block content %}




<br>
<br>
<br>
<div class="all-cards">
  <div class="card mb-3">
      <img class="card-img-top" alt="Card image cap" src="{{post.photo}}">
          <div class="card-body">
              <p class="card-text">
                <span class="card-title"></span>
                  <div class="row no-gutters">
                    <div class="col">
                      <div style="text-align: center;">
                        {{ post.description }}
                      </div>
                      <br>
                      <br>
                      <div class="time-box">
                        <small class="text-muted">{{ post.post_timestamp }}</small>
                      </div>
                      <br><br>
                      <div class="row">
                        <div class="row justify-content-between">
                          <div class="col-4" style="text-align:center ;">
                            <div class="name-box" style="font-size: 14px;"">
                              {{ post.user.username }}
                            </div>
                            <div class="text-muted" style="font-size: 10px;">
                              {% if post.user.is_active == True %}
                                  <p>Active</p>
                              {% else %}
                                  <p>Inactive</p>
                              {% endif %}
                            </div>
                          </div>

                          <div class="col-4" style="display: flex; align-items: flex-end;">
                            <div class="col">
                              <a href="{% url 'like' post.id %}" type="button" class="btn btn-secondary">Like</a>
                            </div>
                            {% if post.user.check_ifliked == True %}
                              <a href="{% url 'like' post.id %}" type="button" style="text-decoration: none;"><span class="material-icons md-18"  style="color:red">favorite</span>{{ post.likes }}</a>
                            {% else %}
                              <a href="{% url 'like' post.id %}" type="button" style="text-decoration: none;"><span class="material-icons md-18" >favorite_border</span>{{ post.likes }}</a>
                            {% endif %}
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <button type="button" class="like-button" data-toggle="button" aria-pressed="false" autocomplete="off">
                              Single toggle
                            </button>
                            <a><span class="material-icons md-18" style="color:grey" >mode_comment</span></a>
                          </div>
                        </div>

                      </div>
                </p>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <div class="input-group mb-3">
                          <form action="{% url 'add_comment' post.id %}" method="POST">
                            {% csrf_token %}
                          
                            {{ comment_form.as_p}}

                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="submit">submit</button>
                            </div>
                          </form>

                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                      {% for comment in comments %}
                        
                        <li class="list-group-item">{{comment.user}}: <br> {{comment.description}}</li>
                        <form action="{% url 'comments_delete' post.id comment.id %}" method="POST">
                          {%csrf_token%}
                          <button type="submit">
                            <a><span>delete</span></a>
                          </button>
                        </form>
                        
                      {% endfor %}
                    </ul>
                      </div>
                  </div>
              </p>    
          </div>    
  </div>         
</div>


<script>
  $(".like-button").click(function() {
    $(this).toggleClass('foo');
  });
</script>
{% endblock %}